* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

#main-header {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 60px;
}

#title {
  text-align: center;
  font-size: 25px;
  color: white;
}

#container {
  padding-top: 0px;
}

#welcome-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 25px;
  color: black;
}

img {
  padding: 0px;
  border-radius: 5px;
  max-width: 90%;
  max-height: 600px;
}

.question-screen {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#question-details {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 60px;
}

p {
  padding: 5px;
  font-size: 18px;
}

h1 {
  font-size: 20px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#question-form {
  height: 150px;
  text-align: center;
  
}


input[type="radio"] {
  width: 20px;
  height: 20px;
  padding: 5px;
}

label {
  width: 300px;
  height: 20px;
  font-size: 20px;
}

 .correct-screen, .incorrect-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}


button {
  border: 3px solid green;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 200px  ;
  height: 50px;
  margin-top: 25px;
  cursor: pointer;
}

button:hover {
  border: 3px solid green;
  border-radius: 5px;
  background-color: white;
  color: green;
  font-size: 20px;
  font-weight: bold;
  width: 200px  ;
  height: 50px;
  margin-top: 25px;
  cursor: pointer;
}

#summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* tablet styles */
@media only screen and (min-width: 414px) {
  .btnStyle {
      background-color:#000;
  }

}

/* desktop styles */
@media only screen and (min-width: 1000px) {
  main {
    display: flex;
    flex-direction: column;
  }

  img {
    max-height: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  
  p {
    margin: 0px;
  }

  button {
    margin: 15px;
  }

  button:hover {
    margin: 15px;
  }

  .toppers {
    margin: 15px;
  }
}
