* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

button {
  border: 1px solid black;
  background-color: lightblue;
  color: white;
  font-size: 20px;
  width: 400px;
  height: 50px;
  margin-top: 40px;
  
}

main {
  text-align: center;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="radio"] {
  width: 40px;
  height: 40px;
  margin: 20px;
  
}

input[type='radio'] + label {
  font-size: 20px;
  
}

img {
  max-width: 400px;
}

@media only screen and (min-width: 350px) {
  .btnStyle {
      background-color:#000;
  }


}
tablet styles
@media only screen and (min-width: 550px) {
  .btnStyle {
      background-color:#fff;
  }
}
desktop styles
@media only screen and (min-width: 800px) {
  .btnStyle {
      background-color:red;
  }
}
